%div.card
  %div.card-body
    %div.row
      %div.col-4
        %h4
          The CWL Zone
      %div.col-4
      %div.col-4.text-right
        %h4
          Christopher W Lehman
    %div.row
      %div.col-4
      %div.col-4.text-center
        %h5
          Ruby and Rails Developer
      %div.col-4
    %div.row
      %div.col-4
      %div.col-4.text-center
        = image_tag "cwl_email.jpg"
      %div.col-4
    %div.row
      %div.col-4
        %a.btn.btn-primary{ "href": "https://www.linkedin.com/in/christopherwlehman",
          "target": "_blank",
          "role": "button"}
          Find me on LinkedIn
      %div.col-4
      %div.col-4.text-right
        %a.btn.btn-primary{ "href": "https://www.github.com/thecwlzone",
          "target": "_blank",
          "role": "button"}
          Find me on GitHub

