%div.container-fluid
  %div.card.card-body.bg-light.border-light
    %div.row
      %div.col-sm.text-center
        %h4
          The CWL Zone
      %div.col-sm.text-center
        %h4
          Christopher W Lehman
    %div.row
      %div.col-sm.text-center
        %h5
          Retired Ruby and Rails Developer, IT Manager and Semiconductor Guru
    %div.row
      %div.col-sm.text-center
        %h6
          Now specializing in Hiking, Travel, Home Brewing and Weekend Ranching
    %div.row
      %div.col-sm.text-center
        %img.img-thumbnail{"src": "/images/cwl2a-cartoon.jpg",
          "style": "width: 241px; height: 160px;",
          "alt": "gravatar"}
    %div.row
      %div.col-sm
      %div.col-sm.text-center
        = image_tag "cwl_email.jpg"
      %div.col-sm
    %div.row
      %div.col-sm.text-center
        %a.btn.btn-primary.btn-sm{ "href": "https://www.linkedin.com/in/christopherwlehman",
          "target": "_blank",
          "role": "button"}
          Find me on LinkedIn
      %div.col-sm.text-center
        %a.btn.btn-primary{ "href": "/blog",
          "role": "button"}
          Read My Blog
      %div.col-sm.text-center
        %a.btn.btn-primary.btn-sm{ "href": "https://www.github.com/thecwlzone",
          "target": "_blank",
          "role": "button"}
          Find me on GitHub

