.alert.alert-dismissible.text-center.cookiealert{:role => "alert"}
  .cookiealert-container
    %b The 
    %a{:href => "https://www.cookielaw.org/the-cookie-law/", :target => "_blank"}EU
    wants me to tell you that I use cookies on this site...
    %a{:href => "https://cookiesandyou.com/", :target => "_blank"} Learn about cookies
    %button.btn.btn-primary.btn-sm.acceptcookies{"aria-label" => "Close", :type => "button"}
      Yeah, OK, whatever...
