.alert.alert-dismissible.text-center.cookiealert{:role => "alert"}
  .cookiealert-container
    %b Holy Crap, Batman! This web site uses cookies! Who knew???
    %a{:href => "http://cookiesandyou.com/", :target => "_blank"} Learn more
    %button.btn.btn-primary.btn-sm.acceptcookies{"aria-label" => "Close", :type => "button"}
      Yeah, OK, whatever...
