%nav.nav-pills.justify-content-center{ "role": "tablist" }
  %ul.nav.justify-content-center
    %li.nav-item
      %a#home-tab.nav-link{"aria-controls": "home",
                                    "aria-selected": "true",
                                    "href": "/",
                                    "role": "tab"} Home
    %li.nav-item
      %a#about-tab.nav-link{"aria-controls": "about",
                                     "aria-selected": "false",
                                     "href": "/about",
                                     "role": "tab"} About
    %li.nav-item
      %a#professional-tab.nav-link{"aria-controls": "professional",
                                            "aria-selected": "false",
                                            "href": "/professional",
                                            "role": "tab"} Professional
    %li.nav-item
      %a#academic-tab.nav-link{"aria-controls": "academic",
                                        "aria-selected": "false",
                                        "href": "/academic",
                                        "role": "tab"} Academic
    %li.nav-item
      %a#gallery-tab.nav-link{"aria-controls": "gallery",
                                       "aria-selected": "false",
                                       "href": "/gallery",
                                       "role": "tab"} De'Lynne Salley Gallery
    %li.nav-item
      %a#blog-tab.nav-link{"aria-controls": "blog",
                                    "aria-selected": "false",
                                    "href": "/blog",
                                    "role": "tab"} Blog
