%nav
  %div.nav.nav-pills.justify-content-center{ "role": "tablist" }
    %a#home-tab.nav-item.nav-link{"aria-controls": "home",
                                  "aria-controls": "home",
                                  "aria-selected": "true",
                                  "href": "/",
                                  "role": "tab"} Home
    %a#about-tab.nav-item.nav-link{"aria-controls": "about",
                                  "aria-controls": "about",
                                   "aria-selected": "false",
                                   "href": "/about",
                                   "role": "tab"} About
    %a#professional-tab.nav-item.nav-link{"aria-controls": "professional",
                                      "aria-controls": "professional",
                                          "aria-selected": "false",
                                          "href": "/professional",
                                          "role": "tab"} Professional
    %a#academic-tab.nav-item.nav-link{"aria-controls": "academic",
                                      "aria-controls": "academic",
                                      "aria-selected": "false",
                                      "href": "/academic",
                                      "role": "tab"} Academic
    %a#gallery-tab.nav-item.nav-link{"aria-controls": "gallery",
                                     "aria-controls": "gallery",
                                     "aria-selected": "false",
                                     "href": "/gallery",
                                     "role": "tab"} De'Lynne Salley Gallery
    %a#blog-tab.nav-item.nav-link{"aria-controls": "blog",
                                "aria-controls": "blog",
                                  "aria-selected": "false",
                                  "href": "/blog",
                                  "role": "tab"} Blog
