%div
  %div.collapse#other-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p.font-weight-bold
        Academia
      %p
        I hold a Bachelor of Science degree in Electrical Engineering and a Doctorate in Computer Science. Please see my
        = link_to "Academic", "/academic"
        page for more details pertaining to my educational background.
      %p.font-weight-bold
        About
      %p
        Technical and site information at the
        = link_to "About", "/about"
        page.
      %p.font-weight-bold
        Blogging
      %p
        My 
        = link_to "Blog", "/blog"
        &#44; updates are random and varied. My political philosophy is best described as
        = link_to "Redneck Anarchist",
          "https://en.wikipedia.org/wiki/Anarcho-capitalism",
          target: "_blank"
        &#44; but writing about social or political issues has become downright hazardous due to a surplus of &#34;diversity&#34; and an insufficient supply of rational discourse. What fun times we live in. I may have to re-brand the blog as &#34;Retired Old Fart Attempts to Cope with 21st Century America&#34;. Stay tuned.

