%div.container-sm
  %div.card.card-body.bg-light.border-light
    %figure
      %blockquote
        %p.font-monospace
          "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
          -# "But let me offer you my definition of social justice: I keep what I earn and you keep what you earn. Do you disagree? Well then tell me how much of what I earn belongs to you – and why."
      %figcaption
        Scott Adams
        %cite{:title => "Loserthink"} Loserthink
        -# Walter Williams
