%div.container-sm
  %div.card.card-body.bg-light.border-light
    %figure
      %blockquote
        %p.font-monospace
          "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
      %figcaption.blockquote-footer
        Scott Adams
        %cite{:title => "Loserthink"}
          = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"

          -# "But let me offer you my definition of social justice: I keep what I earn and you keep what you earn. Do you disagree? Well then tell me how much of what I earn belongs to you – and why."
        -# Walter Williams

          -# "Turning on others with whom we are interdependent is a form of mental illness. The worst economic and social consequences of the pandemic will be over when we decide to wake up from our psychosis. Isolated leaders will never sound the all-clear signal. Our choice is to withdraw our belief in their madness."
        -# Barry Brownstein
        -# %cite{title: "AIER"}
        -# = link_to "The Monsters Are Due on Nantucket Island", "https://www.aier.org/article/the-monsters-are-due-on-nantucket-island/", target: "_blank"

          -# "It is also important to keep in mind that academics – and this includes epidemiologists just as economists and lawyers – are typically government employees, and that this colours their approach to any practical problem. They are likely to think that serious problems, especially large-scale problems touching most or all citizens, should be solved by state intervention. Many of them are in fact incapable of imagining anything else."
        -# Jorg Guido Hulsmann
        -# %cite{title: "LRC"}
        -# = link_to "A Protest From France". "https://www.lewrockwell.com/2020/04/jrg-guido-hlsmann/a-protest-from-france/", target: "_blank"
