%div.container-sm
  %div.card.card-body.bg-light.border-light
    %figure
      %blockquote
        %p.font-monospace
          "Turning on others with whom we are interdependent is a form of mental illness. The worst economic and social consequences of the pandemic will be over when we decide to wake up from our psychosis. Isolated leaders will never sound the all-clear signal. Our choice is to withdraw our belief in their madness."
      %figcaption.blockquote-footer
        Barry Brownstein
        %cite{title: "AIER"}
          = link_to "The Monsters Are Due on Nantucket Island", "https://www.aier.org/article/the-monsters-are-due-on-nantucket-island/", target: "_blank"

        -# "Whenever you have money, reputations, power, ego, and complexity in play, it is irrational to assume you are seeing objective science."
        -# Scott Adams
        -# %cite{:title => "Loserthink"}
        -# = link_to "Loserthink", "https://www.penguinrandomhouse.com/books/607083/loserthink-by-scott-adams/", target: "_blank"

        -# "But let me offer you my definition of social justice: I keep what I earn and you keep what you earn. Do you disagree? Well then tell me how much of what I earn belongs to you – and why."
        -# Walter Williams

        -# "Turning on others with whom we are interdependent is a form of mental illness. The worst economic and social consequences of the pandemic will be over when we decide to wake up from our psychosis. Isolated leaders will never sound the all-clear signal. Our choice is to withdraw our belief in their madness."
        -# Barry Brownstein
        -# %cite{title: "AIER"}
        -# = link_to "The Monsters Are Due on Nantucket Island", "https://www.aier.org/article/the-monsters-are-due-on-nantucket-island/", target: "_blank"

        -# "It is also important to keep in mind that academics – and this includes epidemiologists just as economists and lawyers – are typically government employees, and that this colours their approach to any practical problem. They are likely to think that serious problems, especially large-scale problems touching most or all citizens, should be solved by state intervention. Many of them are in fact incapable of imagining anything else."
        -# Jorg Guido Hulsmann
        -# %cite{title: "LRC"}
        -# = link_to "A Protest From France". "https://www.lewrockwell.com/2020/04/jrg-guido-hlsmann/a-protest-from-france/", target: "_blank"

        -# "In a saner world, the burden of proof really should belong to the lockdowners, since it is they who overthrew 100 years of public-health wisdom and replaced it with an untested, top-down imposition on freedom and human rights. They never accepted that burden. They took it as axiomatic that a virus could be intimidated and frightened by credentials, edicts, speeches, and masked gendarmes."
        -# AIER Staff
        -# %cite{title: "AIER"}
        -# = link_to "Lockdowns Do Not Control the Coronavirus: The Evidence", "https://www.aier.org/article/lockdowns-do-not-control-the-coronavirus-the-evidence/"

        -# “Of all tyrannies, a tyranny sincerely exercised for the good of its victims may be the most oppressive. It would be better to live under robber barons than under omnipotent moral busybodies. The robber baron’s cruelty may sometimes sleep, his cupidity may at some point be satiated; but those who torment us for our own good will torment us without end for they do so with the approval of their own conscience.”
        -# %cite{title: "C. S. Lewis"}
        -# = link_to "God In The Dock: Essays On Theology And Ethics", "https://www.abebooks.com/", target: "_blank"
      
        -# "If an entity seeking control over us can scare other people — our peers — into acting against us, into damaging us, they will win. We will have to comply. Who are we going to sue?"
        -# %cite{title: "AIER"}
        -# = link_to , "First Goes Law, Then Goes Democracy", "https://www.aier.org/article/first-goes-law-then-goes-democracy/"
