%div
  %div.collapse#retirement-text
    %div.card.card-body.bg-light.border-light.text-justify
      %p
        Retired, but I will consider part-time remote employment.
      %p
        See
        = link_to "Former Employment", "#former-employment"
        and my current
        = link_to "Skill Set", "/professional#skill-set"
        &#46;

