%div.card
  %div.card-body
    %div.row
      %div.col-sm
        %h4
          The CWL Zone
      %div.col-sm
      %div.col-sm
        %h4
          Christopher W Lehman
    %div.row
      %div.col-sm
      %div.col-sm
        %h5
          Ruby and Rails Developer
      %div.col-sm
    %div.row
      %div.col-sm
      %div.col-sm
        = image_tag "cwl_email.jpg"
      %div.col-sm
    %div.row
      %div.col-sm
        %a.badge.badge-info{ "href": "https://www.linkedin.com/in/christopherwlehman",
          "target": "_blank",
          "role": "button"}
          Find me on LinkedIn
      %div.col-sm
      %div.col-sm
        %a.badge.badge-info{ "href": "https://www.github.com/thecwlzone",
          "target": "_blank",
          "role": "button"}
          Find me on GitHub

