---
title: Academic
---
%div.container
  %div
    %p.font-weight-bold
      Academic...
      %a.badge.badge-info{ "data-toggle": "collapse", "href": "#academic-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
        read more/less...

  %div.w-75.mx-auto
    %div.collapse#academic-text
      %div.card.card-body.bg-light.border-light
        %h3.card-feature Academic!
        %p.text-justify
          = lorem.sentences 4
        %p.text-justify
          = lorem.sentences 4

