---
title: De'Lynne Salley Gallery
---

%div.container.mt-3.text-center
  %h1
    De'Lynne Salley Gallery
  %h4
    Colorado Landscapes: Paintings in Oil
  %p
    %a{"href": "mailto:chris@thecwlzone.com"}Email
    me for more information. Thanks!

  %div#gallery-tab.container
    %div#carouselDelynneGallery.carousel.slide{"data-ride": "carousel", "data-pause": "hover"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "1", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "2", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "3", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "4", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "5", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "6", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "7", "data-target" => "#carouselDelynneGallery"}
        %li{"data-slide-to" => "8", "data-target" => "#carouselDelynneGallery"}

      .carousel-inner
        .carousel-item.active
          %img.img-fluid{alt: "As_Above_So_Below", src: "/images/gallery/As_Above_So_Below.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                As Above So Below
              %p
                Oil on Canvas, Size: 29x23
        .carousel-item
          %img.img-fluid{alt: "Far_Away_Reflections", src: "/images/gallery/Far_Away_Reflections.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Far Away Reflections
              %p
                Oil on Canvas, Size: 24x36
        .carousel-item
          %img.img-fluid{alt: "Going-Going", src: "/images/gallery/Going-Going.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Going Going
              %p
                Oil on Canvas, NFS
        .carousel-item
          %img.img-fluid{alt: "Highway_Scapes", src: "/images/gallery/Highway_Scapes.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Highway Scapes
              %p
                Oil on Canvas, Size: 24x36
        .carousel-item
          %img.img-fluid{alt: "Jims_Ranch", src: "/images/gallery/Jims_Ranch.jpg"}
          %div.container
            %div.carousel-caption
              %h4.text-light
                Jim's Ranch
              %p
                Oil on Canvas, Size: 25x21
        .carousel-item
          %img.img-fluid{alt: "Landscape-9", src: "/images/gallery/Landscape-9.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Landscape 9
              %p
                Oil on Canvas, Landscape 9, Sold
        .carousel-item
          %img.img-fluid{alt: "Off_Murphy", src: "/images/gallery/Off_Murphy.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Off Murphy
              %p
                Oil on Canvas, Size: 25x19
        .carousel-item
          %img.img-fluid{alt: "Too_Much_Snow", src: "/images/gallery/Too_Much_Snow.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Too Much Snow
              %p
                Oil on Canvas, Size: 33x27
        .carousel-item
          %img.img-fluid{alt: "Turquoise_Skies", src: "/images/gallery/Turquoise_Skies.jpg"}
          %div.container
            %div.carousel-caption
              %h4
                Turquoise Skies
              %p
                Oil on Canvas, Size: 24x36

:javascript
  $('#gallery-tab').addClass('active');

