---
title: Welcome to The CWL Zone
---
%div.container
  %div
    %h6.font-weight-light
      Welcome to my web site...
    %a.badge.badge-info{ "data-toggle": "collapse", "href": "#welcome-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
      read more/less...

  %div.w-75.mx-auto
    %div.collapse#welcome-text
      %div.card.card-body.bg-light.border-light
        %h3.card-feature Welcome!
        %p.text-justify
          = lorem.sentences 15
        %p.text-justify
          = lorem.sentences 4
