%div#professional-tab.container.mt-3
  %div.w-75.mx-auto
    %h5  Professional

    %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
      read more/less...

    %div.collapse#professional-text
      %div.card.card-body.bg-light.border-light
        %p.text-justify
          = lorem.sentences 4
        %p.text-justify
          = lorem.sentences 4

:javascript
  $('#professional-tab').addClass('active');

