---
title: Professional
---
%div.container
  %h1
    Professional
  %div
    %h6.font-weight-light
      About
    %a.badge.badge-info{ "data-toggle": "collapse", "href": "#professional-text", "role": "button", "aria-expanded": "false", "aria-controls": "welcome-text" }
      read more/less...

  %div.w-75.mx-auto
    %div.collapse#professional-text
      %div.card.card-body.bg-light.border-light
        %h3.card-feature Professional!
        %p.text-justify
          = lorem.sentences 4
        %p.text-justify
          = lorem.sentences 4
